@page "/info"
@attribute [Authorize]
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="./css/info/SignedIn.css" />
<!------ Include the above in your HEAD tag ---------->


<div class="wrapper fadeInDown">
    <div id="formContent">
        <header>
            <div class="header">
                <img class="logohead" src="images/exam/Logo.svg">
                <div class="current-time"></div>
                <!--code time-->

            </div>
        </header>

       
        <div class="component-thong-tin">
            <div class="overlap">
                <img class="logo" src="images/exam/Logo.svg">

                <img class="avatar" src="images/exam/ava.jpg">

                <div class="student-id">
                    <input class="id" type="text" name="student-id" placeholder="Mã số sinh viên: @sinhVien.MaSoSinhVien" disabled>
                </div>

                <div class="student-name">
                    <input class="name" type="text" name="Password" placeholder="Họ và tên: @sinhVien.HoVaTenLot @sinhVien.TenSinhVien" disabled>
                </div>

                <button class="button-sign-out" @onclick="onClickDangXuat">Đăng xuất</button>

                <hr class="space">

                <div class="thong-bao">
                    <label class="radio">Sinh viên hiện tại đang có 1 ca thi. Vui lòng chọn ca thi</label>
                    <br />
                    <big>
                        @{
                            if(caThi != null && caThi.TenCaThi != null)
                            {
                                <label>[@monHoc.TenMonHoc]: @caThi.TenCaThi</label>
                                <input class="radio-input" type="radio" name="#" value="@selectoption_cathi" @onchange="RadioChanged" />
                            }
                        }
                    </big>
                    
                </div>

                <button class="button-start" @onclick="OnClickBatDauThi">Bắt đầu thi</button>
                

            </div>
        </div>
      
    </div>
</div>
