@page "/result"
@attribute [Authorize]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- reset css -->
    <!-- embed fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Sen:wght@700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />

    <!-- styles -->
    <link rel="stylesheet" href="./css/Result/style.css" />
    <title>Kết quả</title>
</head>

<body>
<<<<<<< HEAD
<!-- Header của trang web -->
<header class="header fiexd">
  <div class="main-content">
    <div class="body">
      <!-- Logo -->
      <img src="./images/exam/Logo.svg" alt="" class="logo" />
        
      <!-- Thời gian -->
      <div class="time">
        <img src="./images/exam/clock-stand-svgrepo-com%201.svg" alt="" class="logo_time" />
        <h3>Thời Gian :</h3>
      </div >
=======
    <!-- Header của trang web -->
    <header class="header fiexd">
        <div class="main-content">
            <div class="body">
                <!-- Logo -->
                <img src="./images/exam/Logo.svg" alt="" class="logo" />
>>>>>>> main

                <!-- Thời gian -->
                <div class="time">
                    <img src="./images/exam/clock-stand-svgrepo-com 1.svg" alt="" class="logo_time" />
                </div>

                <!-- Button Exit -->
                <nav class="nav">
                    <button class="btn btn-exit btn-hover">Thoát</button>
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Result -->
    <div class="main-result">
        <!-- Phần chứa thông tin kết quả -->
       
        <div class="imformation-container">
            <!-- Hình ảnh -->
            <div class="img-container">
                <img src="./images/exam/Logo.svg" alt="Logo Universities">
            </div>
            <!-- Các thông tin cơ bản -->
            <div class="layout-left">

                <!-- Các ô hiển thị kết quả -->
                <div class="result-score">
                   
                        <p class="show-result" readonly>@diem</p>

                    </div>

                <!-- Thông tin của học sinh và kết quả thi -->
                <div class="information-student">
                    <div class="label">
                        <h3>Ca thi :</h3>
                        <p class="show-text" readonly>@caThi.TenCaThi</p>
                        <h3>Môn thi :</h3>
                        <p class="show-text" readonly>@myData.ten_mon_hoc</p>
                        <h3>Mã đề :</h3>
                        <p class="show-text" readonly>@myData.ma_de_thi_hoan_vi</p>
                        <h3>MSSV :</h3>
                        <p class="show-text" readonly>@myData.ma_so_sinh_vien</p>
                        <h3>Họ và tên :</h3>
                        <p class="show-text" readonly>@(sinhVien?.HoVaTenLot) @(sinhVien?.TenSinhVien)</p>
                        <h3>Ngày thi :</h3>
                        <p class="show-text" readonly>@caThi?.ThoiGianBatDau</p>
                    </div>
                </div>


            </div>
            <hr />

            @{
                // Sắp xếp danh sách chi tiết đề thi hoán vị theo thứ tự tăng dần của mã câu hỏi
                chiTietDeThiHoanVis.Sort((x, y) => x.MaCauHoi.CompareTo(y.MaCauHoi));
            }
            <h2 class="title_retail"> Chi tiết kết quả thi </h2>
            <div class="grid-container">

                @foreach (var chiTietDeThiHoanVi in chiTietDeThiHoanVis)
                {
                    var dapAnSinhVien = myData.listDapAnKhoanh.Count > chiTietDeThiHoanVi.MaCauHoi ? myData.listDapAnKhoanh[chiTietDeThiHoanVi.MaCauHoi - 1] : -1;
                    var dapAnDung = listDapAn.Count > chiTietDeThiHoanVi.MaCauHoi ? listDapAn[chiTietDeThiHoanVi.MaCauHoi - 1] : -1;
                    var mauSac = dapAnSinhVien == dapAnDung ? (dapAnSinhVien != -1 ? "green" : "red") : "red";

                    <div class="grid-item item-@chiTietDeThiHoanVi.MaCauHoi" style="background-color: @(mauSac)">
                        @chiTietDeThiHoanVi.MaCauHoi
                    </div>
                }

            </div>
        </div>
    </div>

    <!-- Footer -->
    @*<footer class="p-3 mt-4 align-self-center border-top">
    <span>&copy; 2024 Website Test Exam Copyright with TLDD</span>
    </footer>*@

</body>
</html>



